 <!DOCTYPE html> <html > 
 <head> 
 <style type="text/css"> 
 body { background-color: #034f84; }

html, body {
    height: 100%;
    width: 100%;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
    text-align:center
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

 </style> 
 </head> 
 
 <body > 

<div class = "main" align=center><div class = "wrapper"><a href="<%= url %>" align=center><img src="img/GoogleIcon.png"></a></div></div>

 </body> 
 </html>
 
